

@media screen and (max-width: 576px) {
    .body-container {
        width: 100% !important;
    }
}

@media screen and (max-width: 991px) {
    .body-container {
        width: 100% !important;
    }

    .boxes-container {
        margin: 20px auto !important;
    }
}
@media screen and (min-width: 991px) {

    .boxes-container {
        height: 100% !important;
    }
}


/* Start variables */
:root {
    --green-color: #00ce7d;
    --orange-color: #bd912f;
}
/* End variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.row {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }


.internship-task {
    height: 100vh;
    display: flex;
    align-items: center;
}

.body-container {
    width: 95%;
    margin: auto;
}

.boxes-container {
    width: 95%;
    margin: 0 auto;
    border: 1px solid var(--orange-color);
    border-radius: 5px;
}

/* Start global rules */

/* Start Navbar */
.account-balance-navbar nav {
    background-color: transparent !important;
    padding: 0 !important;
}

.account-balance-navbar nav .navbar-brand {
    color:var(--orange-color) !important;
}

.account-balance-navbar nav .navbar-toggler {
    border-color: transparent;
    color: var(--orange-color) !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28189, 145, 47, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* End Navbar */